body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #dfeeef;
    padding: 50px;
    font-size: 120%;
    text-transform: lowercase;
    color: #efb44a;
    border-style: dotted dashed solid double;
    width: 90%;


}

h2, h3 {
    font-family: "Courier New", Courier, monospace;
    text-decoration: underline;
    letter-spacing: 5px;
    color: #1a5475;
}

h1 {
    font-family: 'Barriecito';
    text-transform: uppercase;
    color: #1a5475;


}
p {
    color: #333333;
    font-family: 'Barriecito';
    text-transform: none;
    font-size: 23px;
}
div#lab {


}
#challenge-button1 {
  background-color: #1a5475;

}
  #challenge-button1.newcolor1 {
    background-color: #A9E7F5;

}

#challenge-button2 {
  background-color: #1a5475;
}

#challenge-button2.newcolor2 {
  background-color: #FFBB6E;


}

#challenge-button3 {
  background-color: #1a5475;


}

#challenge-button3.newcolor3 {
  background-color: #976EFF;

}

img {
    width: 400px;
    height: auto;
}

a {
    text-decoration: underline;
    color: #000000;

}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
