body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #ecddf0;
    padding: 50px;
    font-size: 120%;
    text-transform: lowercase;
    color: #469684;


}


div.lab-purpose {
    padding: 25px;
    background-color: #f0f8ff;
    border: dotted 10px #ffb4b4;
    height: fit-content;


}
h2, h3 {
    font-family: "Courier New", Courier, monospace;
    text-decoration: underline;
    letter-spacing: 5px;
}

h1 {
    font-family: 'Barriecito';
    text-transform: uppercase;
    color: #ca4525


}


div.content {
    padding: 25px;
    background-color: #f0f8ff;
    height: 60vh;
    border-style: dotted dashed solid double;

}

p {
    color: #333333;
    font-family: 'Barriecito';
    text-transform: none;
    font-size: 23px;
}

a {
    text-decoration: underline;

}
